/* Nav */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    padding: 0px 70px;
    
}

.logo {
    margin-right: auto;
    width: 90px;
}


/* Hero */
.hero-img {
    background: url(client/components/Hero/img/airbnb-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    padding: 350px;
	text-align: center;
	color: white;
  }

  /* Explore Nearby */
  .explore-img {
      width: 65px;
      border-radius: 10%;
  }

  .card-destination {
      margin-top: 8px;
      margin-bottom: 0;
  }

  .card-distance {
    display: flex;
    align-items: center;
  }

.card-container {
    margin-left: 50px;
}